.backimg2{
    background-image: url('../Images/aboutusHeader.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
   height: 100vh !important;
   position: relative
}
.mobileFont1{
    font-family:'Titan One',cursive !important;
    color:white ;
    font-weight:300;
    font-size: 3.2rem;
    word-spacing: 6px;
    line-height: 80px;
    letter-spacing: 1px;
}
#botArro1:after{
    content: '';
    display: block;
    height: 30px;
    background-image: url(../Images/longArro.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
  margin-right: 450px;
    }
    .mobileFont11{
        font-family:'Titan One',cursive !important;
        color:black;
        font-weight:500;
        font-size: 3.2rem;
        word-spacing: 6px;
        line-height: 80px;
        letter-spacing: 1px;
    }
    #botArro11:after{
        content: '';
        display: block;
        height: 30px;
        background-image: url(../Images/longArro.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
      /* margin-right: 450px; */
        }
        
 .mobileFont111{
    font-family:'Titan One',cursive !important;
    color:black;
    font-weight:100;
    font-size: 2.6rem;
    word-spacing: 6px;
    letter-spacing: 1px;
}
.mobileFont1111{
    font-family:'Titan One',cursive !important;
    color:black;
    font-weight:600;
    font-size: 2.8rem;
    word-spacing: 6px;
    line-height: 55px;
    letter-spacing: 1px;
}
.fixdir{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.cardhw{
    height: 550px;
}
@media (max-width:991px) {
    .mobileFont1{
        font-size:2.7rem ;
        line-height: 50px;
      
    }
    .para{
        font-size: 1.3rem !important;
     
    }
    .cardhw{
        max-width: 480px !important;
        min-width:80px !important;
        margin-top:80px !important;
    }
 #shapat991{
        width:500px !important;
 }
 .mtTakeat991{
     margin-top: 100px !important;
    
 }
 .cenDos{
     text-align: center !important;
     margin:0 auto !important;
 }
}