#backImg{
    background-image: url('../Images/header.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
   height: 100vh !important;
   position: relative;
}
.rt{
    clip-path: polygon(100% 73%, 0% 100%, 100% 100%);
    position:absolute;
    bottom: 0;
    background-color: #ffd300;
    width: 100%;
    height: 280px;
}
.cenfix{
   
    justify-content: center !important;
    align-items: center !important;
}
.takes{
    background-color: white !important;
    color: black !important;
    font-size: x-large !important;
    border-radius: 40px !important;
    cursor: pointer !important;
    font-weight: bold !important;
    margin: 0 auto !important;
    width: 250px !important;
    display: inline-block !important;
    transition: width 1s !important;
}
.takes:hover{
    width:255px !important;
}
.takes1{
    background-color: white !important;
    color: black !important;
    font-size: x-large !important;
    border-radius: 40px !important;
    cursor: pointer !important;
    font-weight: bold !important;
    margin: 0 auto !important;
    width: 280px !important;
    display: inline-block !important;
    transition: width 1s !important;
}


.takes11{
    background-color: white !important;
    color: black !important;
    font-size: x-large !important;
    border-radius: 40px !important;
    cursor: pointer !important;
    font-weight: bold !important;
    margin: 0 auto !important;
    width: 220px !important;
    display: inline-block !important;
    transition: width 1s !important;
}
#impo{
    background-color: #ffd300 !important;
}
.takes1:hover{
    width:285px !important;
}
.takes11:hover{
    width:230px !important;
}
.topmt{
    margin-top:2.2vmax !important;
    
}

.topmt1{
    margin-top:6.2vmax !important;
    
}
.uptop{
    margin-bottom: 100px !important;
}
.arrowHw{
    height: 60px !important;
    width: 80px !important;
    margin: 0 auto !important;
    color: #ffd300 !important;
}
.takeswh{
    height: 650px !important;
   
    border: none !important;
  
    outline: none !important;
    width: 90% !important;
    /* transition: width 1s,height 1s !important; */
    box-shadow: 50px 50px 25px 30px white !important;
    margin: 0 auto !important;
}

.topmt22{
    margin-top: 9.4vmax !important;
}

.takeswh:hover{

height:640px !important;
width: 93% !important;
/* box-shadow: 50px 50px white !important; */
}
.firehw{
    height: 110px !important;
    width: 110px !important;
    margin: 0 auto !important;
}
.upMt{
    margin-top: 150px !important;
    position: relative;
    
}
.upper{
    position: absolute !important;
    /* top:0 !important; */
    bottom: 400px !important;
    /* background-color: blueviolet; */
}
.marryHw{
    height: 300px !important;
    width: 300px !important;
    margin: 0 auto !important;
    z-index: 99999 !important;
}
.marginTop{
    margin-top: 200px !important;
}
.takeswhA{
    height: 220px !important;
    border: none !important;
    outline: none !important;
    width: 90% !important;
    margin: 0 auto !important;
    transition:1.1s all !important;
    box-shadow: 0 0 20px 0 rgb(221 221 221 / 50%) !important;
    /* align-items: center !important; */
    justify-content: center !important;
    margin-bottom: 140px!important;
    /* transform: matrix(); */
   
    
    
}
.takeswhA:hover{
    width: 91% !important;
    box-shadow: 30px 0px 80px 0 rgb(221 221 221 / 50%) !important;
    /* height: 223px !important; */
 
   
    }
    .lastClip{
        position: relative !important;
    }
    .lastClips{
        position:absolute !important;
        bottom: 0px !important;
    
        clip-path: polygon(0 73%, 0 100%, 100% 100%) !important;
        width: 100% !important;
        height: 280px !important;
        background-color: black !important;
    }
    .plushw{
        height: 100px !important;
        width: 100px !important;
    }
    .foDes{
        display: inline-block !important;
        height: 60px !important;
        border-radius: 40px !important;
        margin-top:20px !important;
        font-size: x-large !important;
        max-width:700px !important;
        min-width: 100px !important;
    }
    .listed ul{
        list-style-type: none !important;
       
    }
    .listed ul li{
        float: left !important;
        margin: 0 10px !important;
    }
    .listed ul li a{
        color: white !important;
        font-weight: 800 !important;
        text-decoration: none !important;
    }
   
    nav{
        background-color: #ffd300;
        background-image: url('../Images/line.svg');
        background-repeat: no-repeat ;
        background-size: cover ;
        height: 100vh ;
        position: fixed;
        top:-1000%;
        left:0 ;
        width:100% ;
        justify-content: center;
        align-items: center;
        z-index: 999 ;
        transition: all 1s ease;
    } 
    nav ul{
        list-style-type: none ;
        text-align: center ;
    }
nav ul li a{
        color: black ;
        font-weight:500;
        text-decoration: none !important;
        font-size: 3.1rem ;
        line-height: 80px;
        font-family:'Titan One',cursive !important;
}
nav ul li a:hover{
    color: black !important;
}
 nav ul li a:after{
    content: '' !important;
    display: block !important;
    width:100%;
    background-image: url(../Images/whiteArro.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;

}
#alupper{
    z-index: 999999 ;
    position: fixed ;
    top: 30px ;
    right: 20px ;
}    
.menu-btn{
    color: black !important;
    font-size: x-large !important;
    cursor: pointer !important;
}
#click{
    display: none;
}
#click:checked ~ .menu-btn i:before{
    content: '\f00d' !important; 
}

/* css for nav button */

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free" !important;
    font-weight:bolder !important;
    width: 25px !important;
    height: 25px !important;
    margin-top:24px !important;
}

#nonebut991block{
    display: none;
    /* position: relative; */
}
#rtsa{
    display: none;
}

.rtd{
    /* position: absolute !important; */
    width: 100% !important;
    /* top:-199x!important; */
    clip-path: polygon(100% 73%, 0% 100%, 100% 100%);
    background-color: #ffd300;
    width: 100% !important;
    height: 200px;
    background-size: cover !important;
   
}
@media (max-width:709px) {
    .at709Hdec{
        height: 500px !important;
        width: 100% !important;
    }
}

@media (max-width:991px) {
    #at991noneA{
        display: none !important;
    } 
    #at991noneB{
        display: none !important;
    }
    #nonebut991block{
        display: block !important;
      
    }
    #rts{
        display: none !important;
    }
    #rtsa{
        display: block !important;
    }
    #at991symbolNone{
        display: none !important;

    }
    nav ul li a{
        color: black ;
        font-weight: bolder ;
        text-decoration: none !important;
        font-size: 2.1rem !important;
        line-height: 60px;
}
#small1{
    font-size:large !important;
   
}
#small0{
    font-size:larger!important;
    line-height: 27px !important;
}
}
@media (max-width:709px) {
    .fontSiz{
        font-size:large;
    }
    .fontSiz1{
        font-size:medium !important;
        line-height:30px !important;
        font-weight: bolder !important;
    }
    /* #backImg{
       height: 60vh !important;
    } */
    .mobileFont{
        font-size: 2.6rem !important;
    }

}

.slider2hw{
    height: 560px;
}
.imHw{
    width: 100% !important;
}
.fixhwjsd{
    height: 30px !important;
    width: 30px !important;
    display: inline-block !important;
}
#animationDo{
    animation: mover 6s linear infinite !important;
   
}
@keyframes mover {
    50%{
        transform: translateY(30px);
    }
}

#animationDoA{
    animation: movers 6s linear infinite !important;
   
} 

@keyframes movers {
    50%{
        transform: rotate(10deg);
    }
}
#loading{
display: flex;
justify-content: center;
align-items: center;
position: fixed;
z-index:9999999999999999;
width: 100%;
height: 100vh;
background-color: #ffd300;
}
.loads{
    color: black !important;
    width: 100px;
    height: 300px;
    animation: moved 1.5s linear infinite !important;
}
@keyframes moved {
    50%{
       width:400px;
    }
}
.linesA{
    animation: headers 10s linear !important;
}
@keyframes headers {
    50%{
        transform: rotate(10deg);
    }
}
.plusA{
    animation: header 10s linear !important;
}
@keyframes header {
    50%{
        transform: translateY(40px);
    }
}


strong::after{
    border-image:url(../Images/longArro.svg) !important;
        content: '';
        position: absolute;
        width: 200px;
        height: 40px;
        display: block;
        text-align: center;
        bottom: -40px;
        left: 50%;
        background-size: contain;

}
.mobileFont{
    font-family:'Titan One',cursive !important;
   
    color:white ;
    font-weight:500;
    font-size: 3.5rem;
    word-spacing: 6px;
    letter-spacing: 1px;
}
/* #butFixdA{
    display: none !important;
} */

.moveupwardsA{
    animation: crisis 7.4s ease;

}
.moveupwardsB{
    animation: crisis 9.1s ease;

}
.moveupwardsC{
    animation: crisis 10s ease;

}

@keyframes crisis {
    25%{
        transform: translateY(450px);
    }
    50%{
        transform: translateY(0);
    }
} 

#logo{
    height: 100px !important;
    width: 100px !important;
   
    position:relative;
    top:30px;
    left:20px
}
#logos{
    height: 100px !important;
    width: 100px !important;
 
}
#botArro:after{
content: '';
display: block;
height: 30px;
background-image: url(../Images/longArro.svg);
background-repeat: no-repeat;
background-position: center bottom;
margin-left:-160px;
}
#yelarro:after,#yelarro1:after,#yelarro2:after{
   
    content: '';
    clear: both;
    display: block;
    height: 30px;
    background-image: url(../Images/longArro.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
   
    }
    .mobileFont{
        font-size: 4.5rem !important;
    }
    .arroSet::after{
        background-image: url('../Images/leftArro.svg');
        background-size: cover;
        background-repeat: no-repeat;

        content: '';
    position: absolute;
    
    width: 300px;
    height: 320px;
    display: block;
    top:120px;
    right:-20px;
    transform: rotate(180deg);
    z-index: 99999999;
    }
    .arroSet::before{
        content: '';
        position: absolute;
        background-image: url('../Images/leftArro.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 300px;
       height: 320px;
        display: block;
        top:120px;
        left: 0px;
    }
    .arroFix::after{
        background-image: url('../Images/cuts.svg');
        background-size: cover;
        background-repeat: no-repeat;

        content: '';
    position: absolute;
    
    width: 300px;
    height: 320px;
    display: block;
    top:320px;
   right:-20px;
    transform: rotate(180deg);
    z-index: 999999999;
    }

    .arroFix::before{
        content: '';
        position: absolute;
        background-image: url('../Images/cuts.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 300px;
       height: 320px;
        display: block;
        top:320px;
        left: 0px;
        z-index: 999999999;
    }

    @media (max-width:667px) {
        .arroSet::after,.arroSet::before,.arroFix::before,.arroFix::after{
            background-image:none;
        }
        #closed{
            display: none !important;
        }
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 15px !important;
        height: 15px !important;
        margin: 5px 7px !important;
        background:white !important;
        display: block !important;
        -webkit-backface-visibility: visible !important;
        transition: opacity .2s ease !important;
        border-radius: 30px !important;
        position: relative !important;
        bottom: 80px !important;
    }

  

    @media (min-width:1500px) {
        .takeswh{
            height: 680px !important;
           
        }
        .takeswh:hover{
            height: 700px !important;
        }
        
    }
    
    @media (min-width:1800px) {
        .takeswh{
            height: 800px !important;
        }
        .takeswh:hover{
            height: 820px !important;
        }
    }
    @media (min-width:2200px) {
        .takeswh{
            height: 900px !important;
        }
        .takeswh:hover{
            height: 920px !important;
        }
    }

  

    /* css owl carsoul button */
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots  span {
        background: #ffd300 !important;
        border: 4px solid white !important;
       
    }
    .complements{
        width:550px !important;
        /* border: 1px solid green; */
        margin: 0 auto;
    }


    /* use media for mobile view at 425px */
    @media (max-width:425px) {
        #yelarro{
            font-size:3rem !important;
            font-weight: 100 !important;
            margin-top: 50px !important;
        }
        #yelarro1{
            font-size:2.1rem !important;
            
            margin-top: 50px !important;
        }
        #mobileCard{
            height: 550px !important;
            width: 95% !important;
            margin: 30px auto !important;
        }
        /* #mobileCard:hover{
            width:96% !important;
        } */

        #dollar{
            font-size: 3rem !important;
            font-weight: 100 !important;
        }
        #dollarTitle{
            font-size:larger !important;
            font-weight:0 !important;
        }
        #makechangeMobile{
            font-size:3rem !important;
            font-weight: 100 !important;
        }
        #lastCard11{
            height: 300px !important;
            width: 90% !important;
            margin: 20px auto !important;
        }
        #at425hwimgs{
            height: 120px;
            width: 120px;
            /* margin-top: 10px; */
        }
        #yelarro2{
            font-size: 2.6rem !important;
            font-weight: 100 !important;
            text-align: center !important;
        }
        #footerFont1{
            font-size: 1.9rem !important;
            font-weight: 100 !important;
            margin-top: 50px !important;
            margin-bottom: 20px !important;

        }
        #footerFont2{
            font-size: 1rem !important;
            font-weight: 500 !important;
            margin-bottom: 20px !important;
            text-align: center !important;

        }
      
        #footerFont3{
           text-align: center !important;
           justify-content: center !important;
           align-items: center !important;
           margin-top: 20px;
           
        }
        #footerFont4{
            text-align: center !important;
            justify-content: center !important;
            align-items: center !important;
            align-items: center !important;
            
         }
         #footNav ul li a{
           color:white !important;
           font-weight: 500 !important;
           font-size: medium !important;
            
         }
         #logoNone{
            display: block !important;
          } 
          
          #logoNoneat425{
            display: none !important;
          }

          /* #backImg{
            max-height: 50vh !important;
            min-height: 40vh !important;
         } */
         #fuel{
            font-size: 1.1rem !important;
            font-weight: 700 !important;
            
         }
         #impo,#impo111{
            font-weight: 800 !important;
         }
         #cenDoA{
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            text-align: center !important;
          
            position: relative !important; 
            bottom: 50px !important;
         }
         .mobileFont_for_mobile{
            font-size: 3rem !important;
            font-weight: bolder !important;
            font-family:'Titan One',cursive !important;
            color:white ;
            font-weight:500 !important;
            word-spacing: 6px;
            line-height: 40px;
            letter-spacing: 1px;  
            display: block !important;
         }

         #botArro19:after{
            content: '';
            display: block;
            height: 30px;
            background-image: url(../Images/longArro.svg);
            background-repeat: no-repeat;
            background-position: center bottom;
            /* margin-left:-160px; */
            }

         .mobileFont{
           display: none !important;
          }
          nav ul li a{
            margin: 0px auto;
            line-height: 70px !important;
          }
        }

   
#botArro19{
    display: none;
}
    #logoNone{
        display:none;
      }
.mobileFont_for_mobile{
    display:none;
}

#footerFont2 a{
    color: white !important;
}
#ups{
    margin-top: 60px !important;
  
}
.topmt2223{
    margin-top: 120px !important;
}

@media (max-width:330px) {
    .owl-theme .owl-dots .owl-dot span {
        width: 15px !important;
        height: 15px !important;
        margin: 5px 7px !important;
        background:white !important;
        display: block !important;
        -webkit-backface-visibility: visible !important;
        transition: opacity .2s ease !important;
        border-radius: 30px !important;
        position: relative !important;
        bottom: 20px !important;
    }
}